{% extends 'base.html.twig' %}

{% block title %}Phone list{% endblock %}

{% block body %}
    <h1>Phone list</h1>
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Phone Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for phone in phones %}
                <tr class="text-center">
                    <td>{{ phone.id }}</td>
                    <td>{{ phone.phoneName }}</td>
                    <td>{{ phone.price}}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_phone_edit', {'id' :phone.id}) }}">Edit</a>
                        <a class="btn btn-danger" href="{{ path('app_phone_delete', {'id' :phone.id}) }}">Delete</a>
                        <a class="btn btn-primary" href="{{ path('app_phone_details', {'id' :phone.id}) }}">Detail</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
