{% extends 'base.html.twig' %}

{% block title %}Customer list{% endblock %}

{% block body %}
    <h1>Customer list</h1>
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr class="text-center">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_customer_edit', {'id': customer.id}) }}">Edit</a>
                        <a class="btn btn-danger" href="{{ path('app_customer_delete', {'id': customer.id}) }}">Delete</a>
                        <a class="btn btn-primary" href="{{ path('app_customer_details', {'id' :customer.id}) }}">Detail</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
