{% extends 'base.html.twig' %}

{% block title %}Supplier list{% endblock %}

{% block body %}
    <h1>Supplier list</h1>
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Importer</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for supplier in suppliers %}
                <tr class="text-center">
                    <td>{{ supplier.id }}</td>
                    <td>{{ supplier.supName }}</td>
                    <td>{{ supplier.importer?"Importer":"Local" }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_supplier_edit', {'id' :supplier.id}) }}">Edit</a>
                        <a class="btn btn-danger" href="{{ path('app_supplier_delete',{'id':supplier.id}) }}">Delete</a>
                        <a class="btn btn-primary" href="{{ path('app_supplier_details',{'id':supplier.id}) }}">Detail</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
